
<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar">
		<li class="sidebar-main"><a ng-click="vm.toggleSidebar()">
				<div class="logo-home">
					<img src="content/images/logo-b.svg">
				</div> <!--<span class="menu-icon glyphicon glyphicon-transfer"></span>-->
		</a></li>
		<li class="sidebar-title"><span
			data-translate="global.menu.account.main">Account</span></li>

<ul class=top-menu>
		<li class="sidebar-list"><a href="#">Inicio <span
				class="menu-icon fas fa-home"></span></a></li>
		<li class="sidebar-list"><a href="#/tables">Cuenta <span
				class="menu-icon fas fa-user"></span></a>
				
				</li>

		<li class="sidebar-list"><a href="#/tables">Idioma <span
				class="menu-icon fa fa-table"></span></a></li>
				</ul>
	</ul>

	<div class="sidebar-footer">
	<div class="col-xs-12">
			<a href="https://github.com/rdash/rdash-angular" target="_blank">
				Kukulkan 2018 </a>
		</div>
		<!--  
		<div class="col-xs-4">
			<a href="https://github.com/rdash/rdash-angular" target="_blank">
				Github </a>
		</div>
		<div class="col-xs-4">
			<a
				href="https://github.com/rdash/rdash-angular/blob/master/README.md"
				target="_blank"> About </a>
		</div>
		<div class="col-xs-4">
			<a href="#"> Support </a>
		</div>-->
	</div>
</div>
<!-- End Sidebar -->

